.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 65vh;
  }
  
  .footer {
    background-color: #1f1f1f;
    color: dimgray;
    padding: 20px;
    margin-top: auto; /* Push footer to the bottom */
  }
  
  .col,
  h2{
    direction: ltr;
    text-align: left;
    }

