.carousel .photo{
    /* border: 5px solid #000000; 
    padding: 3px; */
    height: 400px;
    width:100%;
    max-height: 400px;
    display:flex;
    justify-items: center;
}
.photo{
    height: 400px;
    max-height: 400px;
    display:flex;
    justify-items: center;
}

.photo-text{
    color: aliceblue;
    font-family:'-moz-initial';
    display: grid;
    place-items: end;
    margin-left: auto;
}

.ptext{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    color: aliceblue;
    font-size: 20px;
    font-family:'-moz-initial';
    display: flex;
    text-align: center;
}

.ft{
    display: inline-block;
    justify-content: flex-start;
}

.tools-container{
    clear:both;
    background-color: #454545;
}

.tools{
    display:flex;
    justify-content: flex-start;
    
}


/* .bg-design::after,
.bg-design::before{
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background-color: darkgrey;
    position:absolute;
    z-index: -1;
}

.bg-design::after{
    top:-3rem;
    left:-3rem;
}

.bg-design::before{
    bottom:2rem;
    right:0rem;
} */