h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color:aliceblue;
}

form{
    padding-top: 2rem;
    color:aliceblue;
}

form label{
    display: block;
    margin-bottom: 0.5rem;
    color:aliceblue;
    margin-top: 0.5rem;
}

form input{
    width: 50%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(190, 190, 190, 0.25);
}